.wbdv-close{
    color: black;
    padding-right: 15px;
}
.wbdv-module-item-delete-btn{
    color: black;
}
.wbdv-module-item-add-btn{
    padding-top: 15px;
}

.wbdv-lesson-add-btn{
    padding-top: 12px;
}

.wbdv-topic-add-btn{
    padding-top: 12px;
}